.App{
    margin: 2% auto;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 242, 243);
}